<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="awscredential">AWS Account</a>
        </li>
    </ul>
</div>
        
                                
<div class="row" ng-controller="AWSCredentialsController"  >
	<div class="col-md-12">
	    <div class="row">
	        <div class="col-md-12">
	            <h1 class="page-title" style='color:#c14067'>
	                <i class="icon-users" style='color:#c14067'></i> {{Account=='new' ? 'Configure new' : 'Edit Configure'}}
	            </h1>
	        </div>
	    </div>
	    <div class="portlet light">
	        <div class="portlet-body  ">
	            <div class="row">
	                <form name="myform" ng-submit="S3CredentialSubmit()" novalidate>
	
	                    <div class="col-md-12">
	                        <div class="form-group" ng-class="{ 'has-error' : myform.CredentialsName.$invalid && (myform.CredentialsName.$dirty || submitted)}">
	                            <label class="control-label">Credentials Name</label>
	                            <input type="text" name="CredentialsName" ng-model="formData.CredentialsName" class="form-control" placeholder="Credentials 1" ng-readonly="Account=='edit' && mainaccountStatus=='1' ?  true  : false " required>
	                            <span class="help-block" ng-show="myform.CredentialsName.$error.required && (myform.CredentialsName.$dirty || submitted)"> Your Credentials Name is required. </span>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group" ng-class="{ 'has-error' : myform.accesskey.$invalid && (myform.accesskey.$dirty || submitted)}">
	                            <label class="control-label">Access Key</label>
	                            <input type="text" name="accesskey" class="form-control" ng-model="formData.accesskey" ng-readonly="Account=='edit' && mainaccountStatus=='1' ?  true  : false " required>
 	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group" ng-class="{ 'has-error' : myform.secretkey.$invalid && (myform.secretkey.$dirty || submitted)}">
	                            <label class="control-label">Secret Key</label>
	                            <input type="text" name="secretkey" class="form-control" ng-model="formData.secretKey" ng-readonly="Account=='edit' &&  mainaccountStatus=='1' ?  true  : false " required>
 	                        </div>
	                    </div>
	                    <div class="form-actions center {{accountstatus=='Syra' ? 'hide' : 'show'}}" align="center">
	
	                        <button type="submit" class="btn default" ng-disabled="myform.$invalid || Account=='edit' && mainaccountStatus=='1' ?  true  : false "> <i class="fa fa-check"></i> {{Account=='new' ? 'Create' : 'Update'}} </button>
	                        <button type="reset" class="btn default" ng-disabled="Account=='edit' && mainaccountStatus=='1' ?  true  : false " ng-click="resetForm()">Reset</button>
	                    </div>
	
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</div>                       	
                        	
		 
 
             