<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="servercredentials">Source</a>
        </li>
    </ul>
</div>

<div class="row" ng-controller="ServerCredentialsController">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title" style='color:#c14067'>
                    <i class="icon-social-dribbble" style='color:#c14067'></i> Source Info
                </h1>
            </div>
        </div>
        <div class="portlet light">

            
            <!-- BEGIN FORM-->
            <div class="portlet-body">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : formMain.error }">
                            <label class="control-label">Source Name</label>
                            <input type="text" name="serverName" ng-model="formMain.ServerName" class="form-control" placeholder="Server Name" required>
                            <!--  <span class="help-block"  ng-show="myform.serverName.$error.required && (myform.serverName.$dirty || submitted)"> Your Server Name is required. </span>   -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Source Type</label>
                            <br/>
                            <div class="  btn-group">

                                <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked"  uib-btn-radio="5" ng-click="servertypeCheckedValue()">IoT Device</label>
                                <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked"  uib-btn-radio="4" ng-click="servertypeCheckedValue()">Twitter</label>
                                <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked"  uib-btn-radio="3" ng-click="servertypeCheckedValue()">AWS S3</label>
                                <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked"  uib-btn-radio="2" ng-click="servertypeCheckedValue()">RDBMS SQL</label>
                                <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked"  uib-btn-radio="1" ng-click="servertypeCheckedValue()">FTP</label>
                                 
                                <!-- <label class="btn btn-success ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="radioModel.servertypeChecked" ng-repeat="servertype in ServerTypes" uib-btn-radio="{{servertype.id}}" ng-click="servertypeCheckedValue()">{{servertype.serverType}}</label> -->

                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content ">
                    <div class="tab-pane active" id="ftpserverform">
                        <form name="myform" ng-submit="ServerCredentialSubmit('FTP')" novalidate>
                            <h3 class="form-section" style=" border-bottom:1px solid #e7ecf1;padding-bottom: 4px;">FTP Credentials</h3>
                            <div class="row ">
                                <div class="col-md-2">
                                    <div class="form-group" ng-class="{ 'has-error' : myform.port.$invalid && (myform.port.$dirty || submitted)}">
                                        <label class="control-label">Port</label>
                                        <input type="number" name="port" ng-model="formData.port" class="form-control" placeholder="8080" required>
                                     </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group" ng-class="{ 'has-error' : myform.ipaddress.$invalid && (myform.ipaddress.$dirty || submitted)}">
                                        <label class="control-label">IP Address</label>
                                        <input type="text" name="ipaddress" ng-model="formData.ipaddress" class="form-control" placeholder="192.168.120.150" ng-readonly="accountstatus=='Syra' ?  true  : false " required>
                                     </div>
                                </div>

                                <div class="col-md-6" ng-class="{ 'has-error' : myform.username1.$invalid && (myform.username1.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username1" class="form-control" ng-model="formData.username" placeholder="keenthemes" required>
                                     </div>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : myform.password.$invalid && (myform.password.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control" ng-model="formData.password" placeholder="**********" required>
                                     </div>
                                </div>

                            </div>
                            <div class="form-actions center" align="center">
                                <button type="submit" class="btn default" ng-disabled="myform.$invalid "> <i class="fa fa-check"></i>  {{Source=='new' ? 'Create' : 'Update'}}</button>
                            </div>
                        </form>
                    </div>



                    <div class="tab-pane" id="sqlserverform">
                        <form name="myform1" ng-submit="ServerCredentialSubmit('SQL')" novalidate>
                            <h3 class="form-section" style=" border-bottom:1px solid #e7ecf1;padding-bottom: 4px;">RDBMS SQL Credentials</h3>
                            <div class="row ">

                                <div class="col-md-2" ng-class="{ 'has-error' : myform1.databaseType.$invalid && (myform1.databaseType.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Database Type</label>
                                        <select class="bs-select form-control" ng-model="formData1.databaseType" data-show-subtext="true" name="databaseType" id="databaseType" required>
                                 						<option   value="Mysql">Mysql</option>
                                 						<option   value="Oracle"  >Oracle</option>
                                 						<option   value="Redshift" >Redshift</option>
                                 				 </select>
                                     </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" ng-class="{ 'has-error' :myform1.port.$invalid && (myform1.port.$dirty || submitted)}">
                                        <label class="control-label">Port</label>
                                        <input type="number" name="port" ng-model="formData1.port" class="form-control" placeholder="8080" required>
                                     </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group" ng-class="{ 'has-error' : myform1.ipaddress.$invalid && (myform1.ipaddress.$dirty || submitted)}">
                                        <label class="control-label">Host Name</label>
                                        <input type="text" name="ipaddress" ng-model="formData1.ipaddress" class="form-control" placeholder="192.168.120.150" ng-readonly="accountstatus=='Syra' ?  true  : false " required>
                                     </div>
                                </div>

                                <div class="col-md-6" ng-class="{ 'has-error' : myform1.username.$invalid && (myform1.username.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" class="form-control" ng-model="formData1.username" placeholder="keenthemes" required>
                                     </div>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : myform1.password.$invalid && (myform1.password.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control" ng-model="formData1.password" placeholder="**********" required>
                                     </div>
                                </div>

                                <div class="col-md-4" ng-show="SqlType">
                                    <div class="form-group">
                                        <label>Get Database</label>
                                     
                                        <button type="button" class="btn btn-success  form-control" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing" data-error-text="<i class='fa fa-circle-o-notch fa-spin'></i> Error">Load</button>

                                    </div>
                                </div>
                                <div class="col-md-8" ng-show="SqlType" ng-class="{ 'has-error' : myform1.databaseName.$invalid && (myform1.databaseName.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Database Name</label>
                                        <select class="bs-select form-control" ng-model="formData1.databaseName" name="databaseName" required>
			                                 		<option  value="">No Database</option>
                                  				</select>
                                        <!--  <input type="text" name="databaseName" class="form-control" ng-model="formData1.databaseName"  placeholder="Database Name"  required>  -->
                                        <!-- <span class="help-block"  ng-show="myform1.databaseName.$error.required && (myform1.databaseName.$dirty || submitted)"> Your Database Name is required. </span>   -->
                                    </div>
                                </div>

                                <div class="col-md-8" ng-hide="SqlType" ng-class="{ 'has-error' : myform1.databaseName.$invalid && (myform1.databaseName.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Database Name</label>

                                        <input type="text" name="databaseName" class="form-control" ng-model="formData1.databaseName" placeholder="Database Name" required>
                                        <!-- <span class="help-block"  ng-show="myform1.databaseName.$error.required && (myform1.databaseName.$dirty || submitted)"> Your Database Name is required. </span>   -->
                                    </div>
                                </div>

                                <div class="col-md-4" ng-hide="SqlType" ng-class="{ 'has-error' : myform1.databaseName.$invalid && (myform1.databaseName.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Test Connection</label>

                                        <button type="button" class="btn btn-success  form-control" ng-disabled="myform1.$invalid" id="testConnection">Test Connection</button>
                                        <!-- <span class="help-block"  ng-show="myform1.databaseName.$error.required && (myform1.databaseName.$dirty || submitted)"> Your Database Name is required. </span>   -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions center" align="center">
                                <button type="submit" class="btn default" id="submit" ng-disabled="myform1.$invalid"> <i class="fa fa-check"></i>  {{Source=='new' ? 'Create' : 'Update'}}</button>
                            </div>
                        </form>
                    </div>


                    <div class="tab-pane" id="awss3serverform">
                        <form name="myform2" ng-submit="ServerCredentialSubmit('AWS S3')" novalidate>
                            <h3 class="form-section" style=" border-bottom:1px solid #e7ecf1;padding-bottom: 4px;">AWS S3 Credentials</h3>
                            <div class="row ">

                                <div class="col-md-12" ng-class="{ 'has-error' : myform2.accessKey.$invalid && (myform2.accessKey.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Access Key</label>
                                        <input type="text" name="accessKey" class="form-control" ng-model="formData2.accessKey" placeholder="Access Key" required>
                                        <!--  <span class="help-block"  ng-show="myform2.accessKey.$error.required && (myform2.accessKey.$dirty || submitted)"> Your Access Key is required. </span>   -->
                                    </div>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error' :myform2.secretKey.$invalid && (myform2.secretKey.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Secret Key</label>
                                        <input type="text" name="secretKey" class="form-control" ng-model="formData2.secretKey" placeholder="Secret Key" required>
                                        <!--  <span class="help-block"  ng-show="myform2.secretKey.$error.required && (myform2.secretKey.$dirty || submitted)"> Your Secret Key is required. </span>   -->
                                    </div>
                                </div>


                            </div>
                            <div class="form-actions center" align="center">
                                <button type="submit" class="btn default" ng-disabled="myform2.$invalid"> <i class="fa fa-check"></i>  {{Source=='new' ? 'Create' : 'Update'}}</button>
                            </div>
                        </form>
                    </div>


                    <div class="tab-pane" id="socialmediaserverform">
                        <form name="myform3" ng-submit="ServerCredentialSubmit('Twitter')" novalidate>
                            <h3 class="form-section" style=" border-bottom:1px solid #e7ecf1;padding-bottom: 4px;">Twitter Credentials</h3>
                            <div class="row ">

                                <div class="col-md-6" ng-class="{ 'has-error' : myform3.appKey.$invalid && (myform3.appKey.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>App Key</label>
                                        <input type="text" name="appKey" class="form-control" ng-model="formData3.appKey" placeholder="App Key" required>
                                        <!--   <span class="help-block"  ng-show="myform3.appKey.$error.required && (myform3.appKey.$dirty || submitted)"> Your App Key is required. </span>   -->
                                    </div>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' :myform3.appSecret.$invalid && (myform3.appSecret.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>App Secret</label>
                                        <input type="text" name="appSecret" class="form-control" ng-model="formData3.appSecret" placeholder="App Secret" required>
                                        <!--  <span class="help-block"  ng-show="myform3.appSecret.$error.required && (myform3.appSecret.$dirty || submitted)"> Your App Secret is required. </span>   -->
                                    </div>
                                </div>

                                <div class="col-md-6" ng-class="{ 'has-error' : myform3.consumerKey.$invalid && (myform3.consumerKey.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Consumer Key</label>
                                        <input type="text" name="consumerKey" class="form-control" ng-model="formData3.consumerKey" placeholder="Consumer Key" required>
                                        <!-- <span class="help-block"  ng-show="myform3.consumerKey.$error.required && (myform3.consumerKey.$dirty || submitted)"> Your Access Key is required. </span>   -->
                                    </div>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' :myform3.consumerSecret.$invalid && (myform3.consumerSecret.$dirty || submitted)}">
                                    <div class="form-group">
                                        <label>Consumer Secret</label>
                                        <input type="text" name="consumerSecret" class="form-control" ng-model="formData3.consumerSecret" placeholder="Consumer Secret" required>
                                        <!--   <span class="help-block"  ng-show="myform3.consumerSecret.$error.required && (myform3.consumerSecret.$dirty || submitted)"> Your Secret Key is required. </span>   -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions center" align="center">
                                <button type="submit" class="btn default" ng-disabled="myform3.$invalid"> <i class="fa fa-check"></i>  {{Source=='new' ? 'Create' : 'Update'}} </button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
  
            <!-- END FORM-->
        </div>

    </div>
</div>
</div>