 
 
<div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a ui-sref="awscredential({ 'Account': 'new' ,'Id':''} )">AWS Account</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a ui-sref="s3({ 'AWSCredentialId':AWSCredentialId} )">  {{awscredentialsName}}</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a ui-sref="bucket({ 'AWSCredentialId':AWSCredentialId,'BucketName':bucketname+'|'})">  {{bucketname}}</a>
                                </li>
                            </ul>
                            
                             
 
                        </div>
                         

                        <div class="row" ng-controller="BucketController">
                        	     
                        <div class="col-md-12"   id="drop-zone">
                        	<!--  <div class="hidediv" id='overlaydiv' > </div>  -->
	         					<div class="row">
		         					<div class="col-md-6" >
		         						<h1 class="page-title" style='color:#c14067;font-size:18px;'>
		                        		<i class="fa fa-bitbucket" style='color:#c14067'></i>  S3 Buckets / <a style='color:#c14067' ui-sref="s3({ 'AWSCredentialId':AWSCredentialId})">  {{awscredentialsName}}</a> / <a style='color:#c14067' ui-sref="bucket({ 'AWSCredentialId':AWSCredentialId,'BucketName':bucketname+'|'})"> {{bucketname}}</a> /
		                        		<a style='color:#c14067' ng-repeat="path in Path.slice(0,Path.length-1)"    ng-init="ContainPath" ui-sref="bucket({ 'AWSCredentialId':AWSCredentialId,'BucketName':bucketname+'|'+ (Path| joinBy:$index ) +'/'  })"> {{path }} /</a>
		                        		</h1>
		                        	</div>
		                        	 <div class="col-md-6" >
		                        	 	  <h1  style='color:#c14067' align="right">
		                        	 	  
                                          <span class="btn  buttoncolor fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span> Local upload </span>
                                                <input type="file" name="files" > 
                                          </span>
                                                
                                            
                                                  
                                           <button type="button" class="btn  buttoncolor start">
                                                <i class="fa fa-cloud"></i>
                                                <span> Server upload </span>
                                            </button>
                                            
                                           <button class="btn btn-default" type="button" id="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>
		                        	 	  	<a href="#" id="list" class="btn btn-default btn-sm buttoncolor"><span class="glyphicon glyphicon-th-list">
	            							</span></a>   
	            							<a href="#" id="grid" class="btn btn-default btn-sm buttoncolor"><span
	                						class="glyphicon glyphicon-th"></span> </a>  

		                          	 	  <button type="button" class="btn  btn-s buttoncolor"  data-toggle="modal" data-target="#modal-fullscreen" ng-click="createfolder()"><span class="glyphicon glyphicon-upload"></span> CREATE FOLDER</button>
		                        	</div> 
	                        	</div>	
	                            <div class="portlet light"  >  
	                            <div class="loader" >Loading... </div>
						 		<div class="portlet-body "   > 
						 		<div ng-include="bucketcontentUrl" ></div>
						 		
						 		</div>
						 		</div>
	                        <!-- 	<div class="full-height-content full-height-content-scrollable">
		                        	<div class="full-height-content-body"  > scroller  style="height:400px;"  450-->
							
	

 	 
			  							
								<!-- 					
		                            </div>
						 		</div>  -->
                        </div>	     
	                        
						<div class="col-md-5" id="details" style="display:none;">
                          	 	<h1 class="page-title" style='color:#c14067'>
                        		<i class="fa fa-bitbucket" style='color:#c14067'></i> S3 Buckets Details
                          	 	<small>    </small>  
                        	 	</h1> 
	                        	<hr></hr>
	                        	<div class="portlet light bordered"    >
	            					<div class="portlet-title">
	                					<div class="caption">
						                    <i class="icon-layers" style='color:#c14067'></i>
						                    <span class="caption-subject bold" style='color:#c14067'>Details </span>
						                    <span class="caption-helper hide"></span>
						                </div>
						                <div class="actions">
						                     
						                     
						                    <a class="btn btn-circle btn-icon-only btn-default removeclick" href="#">
						                        <i class="fa fa-ban" style='color:#c14067'></i>
						                    </a>
						                </div>
	            					</div>
	            					<div class="portlet-body scroller"   id="detailsvalue" style="height:400px;"> 
	             
	            					</div>
	        					</div>
                        	</div> 
	                     
	                     <div id="toast-container-main" style="position: fixed;z-index: 999999;" class="toast-bottom-right"   >
                         </div>    
                        </div>
                    <div id="static" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">Upload file to {{bucketname}} </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form  action="#" class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3"  >Source</label>
                                                                <div class="col-md-9">
                                                                    <select class="bs-select form-control" data-show-subtext="true"    name="source"  >
                                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                                      </select>
                                                                </div>
                                                            </div>
 
                                                            <div class="form-group"   >
                                                                <label class="control-label col-md-3 {{error}}">Server File</label>
                                                                <div class="col-md-9">
                                                                     <multiselect-searchtree data-input-model="dataSourceObject" multi-select="false"
                                            data-output-model="selectedSourceItem" data-callback="CustomCallbackSource(item, selectedItems,dataSourceObject,selectedSourceItem)"
                     data-select-only-leafs="false" extra-buttons="false"  data-load='true'></multiselect-searchtree>  
                          
                                                                 </div>
                                                            </div>
                                                           <!--  
                                                            <div class="form-group" ng-hide="serverfilestatus">
                                                                <label class="control-label col-md-3">Create Job</label>
                                                                <div class="col-md-3">
                          											 <label>
                          											 <input type="checkbox" id="jobcheckbox" class="input-inline icheck" data-checkbox="icheckbox_line-grey" data-label="Yes ?" unchecked >  
                                                                </label>
                                                                </div>
                                                              
                                                                 
                                                            </div> -->
                                                            
                                                         <!-- <div class="form-group" ng-hide="jobinputstatus">
                                                                <label class="control-label col-md-3 {{error1}}">Job Name</label>
                                                                <div class="col-md-9 ">
                          											 <input type="text" class="form-control {{error2}}" ng-model="JobName" placeholder="Job Name">
                                                                </div>
                                                            </div> 
                                                           
                                                       <div class="form-group" ng-hide="jobinputstatus">
                                                                <label class="control-label col-md-3 {{error1}}">Comments</label>
                                                                <div class="col-md-9">
                          											 <input type="text" class="form-control {{error2}}" ng-model="Comments" placeholder="Comments">
                                                                </div>
                                                            </div> 
                                                              -->
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn grey-salsa btn-outline" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        <button type="button" class="btn blue start" ng-click="upload()" ng-disabled="serverfilestatus"><i class="fa fa-upload"></i><span> Start upload </span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                          
                  
 <!-- template1.html -->
<script type="text/ng-template" id="list.html">
<div class="bootstrap-table"  >
	<div class="fixed-table-container" style="padding-bottom: 0px; z-index:2; border-top: 1px solid #ddd;border: 0px solid #ddd; ">
		<table class="table" style="padding: 10px!important; ">
        <thead>
        	<tr  >
            	<th style="text-align: left;font-weight: bold;border-left: none!important; border-right: none!important;"  ><div class="th-inner">Name</div><div class="fht-cell"></div></th>
            	<th style="text-align: left;font-weight: bold;border-left: none!important; border-right: none!important;"  ><div class="th-inner ">Size</div><div class="fht-cell"></div></th>
            	<th style="text-align: left;font-weight: bold;border-left: none!important; border-right: none!important;"  ><div class="th-inner ">LastModified</div><div class="fht-cell"></div></th>
           	</tr> 
        </thead>
        <tbody>
			<tr  class="thumbnailtable drop-zone-bucket"   ng-repeat="buildjson in buildjson_bucketFolder"   on-finish-render="ngRepeatFinished" context-menu="menuOptions" id="{{buildjson.value}}" style="cursor: pointer;" ng-click="getbucketobject(AWSCredentialId,buildjson.value);">
				<td  style="text-align: left; word-wrap: break-word;;font-weight: bold;font-size: 12px;border-left: none!important; border-right: none!important;"><i class="fa fa-folder" id="thumbnailicon" ></i> {{buildjson.value}}</td>
				<td style="text-align: left; word-wrap: break-word;font-size: 12px;font-weight: bold"> -- </td>
				<td style="text-align: left; word-wrap: break-word;font-size: 12px;font-weight: bold"> --</td>
			</tr> 
			
			<tr  class="thumbnailtable"   id="object{{$index}}"  ng-repeat="buildjson in buildjson_bucketObject"   context-menu="menuOptions2"     style="cursor: pointer;"  >
				<td  style="text-align: left; word-wrap: break-word;font-size:12px;font-weight: bold;"><i class="fa fa-file" id="thumbnailicon" ></i> {{buildjson.value}} </td>
				<td style="text-align: left; word-wrap: break-word;font-size:12px;font-weight: bold">  {{buildjson.size}} KB</td>
				<td style="text-align: left; word-wrap: break-word;font-size:12px;font-weight: bold"> {{buildjson.lastModified | date:'EEE MMM d  HH:mm:ss Z yyyy'}}</td>
			</tr>
        </tbody>  
        </table>
   </div>
</div>



</script>
<!--  <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> 
<p class="group list-group-image" > <i class="fa fa-file-pdf-o fa-4x" aria-hidden="true" align="center"></i> </p>
buildjson.bucketName}}_{{ (buildjson.value).substring(0, (buildjson.key).length-1) -->
 <!-- template2.html -->
<script type="text/ng-template" id="grid.html">
<div id="products" class="row list-group"  style="position: relative;z-index:2">
	<div class="item  col-xs-3 col-lg-3"   ng-repeat="buildjson in buildjson_bucketFolder"   on-finish-render="ngRepeatFinished" context-menu="menuOptions">
		<div  class="thumbnail drop-zone-bucket"   id="{{buildjson.value}}" style="cursor: pointer;" ng-click="getbucketobject(AWSCredentialId,buildjson.value);">
			<div class="caption">  
				 <h6 class="group inner list-group-item-heading" id="thumbnailheading" style="word-wrap: break-word;font-weight: bold;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
						<i class="fa fa-folder" id="thumbnailicon" ></i>  {{buildjson.value}}</h6>
				</div>  
			</div>
		</div>          
</div>									  	
<div id="products" class="row list-group">
	<div class="item  col-xs-3 col-lg-3"   ng-repeat="buildjson in buildjson_bucketObject"  context-menu="menuOptions2">
		<div  class="thumbnail"  id="object{{$index}}"  style="cursor: pointer;" >
			
			
			<div class="caption">  
			<h6 class="group inner list-group-item-heading"   style="word-wrap: break-word;font-weight: bold;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
			<i class="fa fa-file" id="thumbnailicon" ></i>  {{buildjson.value}} ,Size-{{buildjson.size}} KB</h6>
			</div>  
		</div>
	</div>
</div> 
</script>                        
 <style>
 .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
}
.custom-menu li {
    padding: 15px 17px;
    cursor: pointer;
    width: 200px;
}
.custom-menu li:hover {
border-color: #c14067;;
color: #000;
background-color: #c14067;;
} 


.custom-menu2 {
    display: none;
    z-index: 1000;
    position: absolute;
}
.custom-menu2 li {
    padding: 15px 17px;
    cursor: pointer;
    width: 200px;
}
.custom-menu2 li:hover {
border-color: #c14067;;
color: #000;
background-color: #c14067;;
} 
 
</style>        
<ul class='custom-menu list-group' >
  <li  ng-click="custommenu('getProperties');"  id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Get Properties</li>
<!--   <li  ng-click="custommenu('getLink');" id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Get Link</li>
 -->  <li  ng-click="custommenu('deleteFolder');" id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Delete Folder</li>
</ul>
<ul class='custom-menu2 list-group' >
  <li  ng-click="custommenu2('getObjectDetails');"  id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Get Object Detail</li>
  <li  ng-click="custommenu2('ObjectPreview');" id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Object Preview</li>
  <li  ng-click="custommenu2('deleteObject');" id="" class="list-group-item"><i class="icon-settings font-green-sharp"></i> Delete Object</li>
</ul>

<script type="text/javascript">
<!--

//-->

function contextmenufunction(event,id,type)
{
	  
	 event.preventDefault(); 
	 if(type =='folder')
		 {
	 $(".custom-menu>.list-group-item").attr('id',id);
	 $(".custom-menu").finish().toggle(100).
     css({
    	top: event.pageY + "px",
        left: event.pageX + "px"
     });
		 }
	 if(type =='object')
		{
	 $(".custom-menu2>.list-group-item").attr('id',id);
	 $(".custom-menu2").finish().toggle(100).
	 css({
    	top: event.pageY + "px",
        left: event.pageX + "px"
     });	 
		}
}
$(document).bind("mousedown", function (e) {
    if (!$(e.target).parents(".custom-menu").length > 0 ) {
        $(".custom-menu").hide(100);
    }
    if ( !$(e.target).parents(".custom-menu2").length > 0) {
        $(".custom-menu2").hide(100);
    }
});

$('.removeclick').click(function(){
	 $('#details').toggle('slow');
	 $( "#drop-zone" ).removeClass( "col-md-8" ).addClass( "col-md-12" );  
}); 
</script> 