<style>
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
</style>
<div class="page-bar">
	 <ul class="page-breadcrumb">
		<li><a href="index.html">Report</a> <i class="fa fa-circle"></i></li>
		<li><a href="index.html">Operation Dashboard</a></li>
	</ul>
	  <ul  class="page-breadcrumb" style='color: #c14067;background:black;float:right;'>
	    <li> <img src="./img/FP.png" alt="logo" class="logo-default" height="30" width="150"  /> </li>
	 </ul>
	 
	
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->

<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row" ng-controller="OperationalController">

	<div class="col-md-12">
		<div class="row">
			
		 	<div class="col-md-12">
 				<h1 class="page-title" style='color: #c14067'>
					<i class="icon-users" style='color: #c14067'></i> Operation
					Dashboard
 				</h1>
				   
			</div>
			 
		</div>
	</div>

	<div class="col-md-12">
	
	 
	<div class="row">
		
		 
		<div class="col-md-6 col-sm-6"  >
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 9px;">
				<div class="portlet-title" >
					<div class="caption caption-md" >
						<i class="icon-settings font-green"></i> <span
							class="caption-subject font-green bold uppercase" style="font-size: 10px;">Daily/Weekly/Monthly New Customers</span>  
					</div>
					<div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 <div class="actions">
						<div class="form-group">
 						    <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a>
 						    <select ng-model="selected"  ng-change="getdataFirstgraph(selected)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                    
                     
				</div>
				<div class="portlet-body" style="font-size: 8px;">
				 	<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable"  />
                                    <span></span>
                                </label>
                            </th> 
                            <th>Customer ID</th>
					        <th>Source Name</th>
 					        <th>Suheduled Date</th>
                        </tr>
                    </thead>
                    <tbody id="sample1body">
                        <tr class="odd gradeX" >
                           <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>   
                             <td > 0</td>
                             <td > 10 </td>
                             <td > 1</td>
                                 
                          </tr>
                         
                         
                       
                    </tbody>
          </table>
          
           
					 <!-- 	<div class="clusterize">
					  <table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Order No</th>
					        <th>Order Date</th>
					        <th>Firstname</th>
					        <th>Lastname</th>
					        <th>Aggregator</th>
					      </tr>
					    </thead>
					  </table>
					  <div id="scrollArea" class="clusterize-scroll emulate-progress">
					    <table class="table table-striped">
					      <tbody id="contentArea" class="clusterize-content">
					        <tr class="clusterize-no-data">
					          <td>Loading data…</td>
					        </tr>
					      </tbody>
					    </table>
 					 </div>
				</div> -->
 				</div>
			
			
			
			<!-- <div class="portlet-body">
					  <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>
 					   
 					   <chart config="chartConfig"></chart>  
					  <div id="firstgraph"></div>  
				</div> -->
			</div>
			<!-- END PORTLET-->
		</div>
		
		<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered "  style="font-size: 9px;">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 10px;">Daily/Weekly/Monthly Total Customers Per Source</span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 <div class="actions">
						<div class="form-group">
 						   <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a>
 						   <select ng-model="selected2"  ng-change="getdataSecondgraph(selected2)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
				</div>
				<div class="portlet-body" style="font-size: 8px;">
						   <chart config="chartConfig"></chart>  
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
	
	<div class="col-md-4 col-sm-4">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered "  >
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green"></i> <span
							class="caption-subject font-green bold uppercase" style="font-size: 10px;" >Total Customer</span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 
				</div>
				<div class="portlet-body">
					<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
 					        <th>Total Customer</th>
                        </tr>
                    </thead>
                    <tbody id="thirdgraph">  
                    	                    
                    </tbody>
          </table>
          <!-- <div id="thirdgraph"></div> -->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	<div class="col-md-4 col-sm-4">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered "  >
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase"  style="font-size: 10px;">Total Order</span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 
				</div>
				<div class="portlet-body">
						<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
 					        <th>Total Order</th>
                        </tr>
                    </thead>
                    <tbody id="fourthgraph">  
                    	                    
                    </tbody>
          </table><!-- <div id="fourthgraph"></div> -->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	
	<div class="col-md-4 col-sm-4">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 9px;" >
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 10px;" >Monthly Total</span>  
					</div>
					<div class="actions">
						<div class="form-group">
 						  <!--  <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a> -->
 						   <select ng-model="selected3"  ng-change="getdata5graph(selected3)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                      
				</div>
				<div class="portlet-body">
						<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
 					        <th>Monthly Total</th>
                        </tr>
                    </thead>
                    <tbody id="fivegraph">  
                    	                    
                    </tbody>
          </table><!-- <div id="fourthgraph"></div> -->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	<div class="col-md-6 col-sm-6"  >
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 9px;">
				<div class="portlet-title" >
					<div class="caption caption-md" >
						<i class="icon-settings font-green"></i> <span
							class="caption-subject font-green bold uppercase" style="font-size: 10px;">Customers with max order</span>  
					</div>
					<div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 <div class="actions">
						<div class="form-group">
 						    <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a>
 						    <select ng-model="selected4"  ng-change="getdata6graph(selected4)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                    
                     
				</div>
				<div class="portlet-body">
					<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample2">
                    <thead >
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable"  />
                                    <span></span>
                                </label>
                            </th> 
                             <th>Order Count</th>
                             <th>Order No</th>
					        <th>Order Date</th>
					        <th>Source Name</th>
					        <th>Customer ID</th>
                         </tr>
                    </thead>
                     
                    <tbody id="sample2body">
                        <tr class="odd gradeX" >
                           <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>   
                              <td > 1</td>
                              <td > 0</td>
                             <td > 10 </td>
                             <td > 1</td>
                             <td > 1</td>
                                 
                          </tr>
                         
                         
                       
                    </tbody>
          </table>
				</div>
				
			 
			</div>
			<!-- END PORTLET-->
		</div>
	
	<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 9px;" >
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 10px;" >Count of One time customer </span>  
					</div>
					<div class="actions">
						<div class="form-group">
 						  <!--  <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a> -->
 						   <select ng-model="selected5"  ng-change="getdata7graph(selected5)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                      
				</div>
				<div class="portlet-body">
						<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
 					        <th>Monthly Total</th>
                        </tr>
                    </thead>
                    <tbody id="7graph">  
                    	                    
                    </tbody>
          </table><!-- <div id="fourthgraph"></div> -->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 9px;" >
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 10px;" >Count of Returning customer </span>  
					</div>
					<div class="actions">
						<div class="form-group">
 						  <!--  <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a> -->
 						   <select ng-model="selected6"  ng-change="getdata8graph(selected6)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                      
				</div>
				<div class="portlet-body">
						<table class="table  table-condensed table-striped table-bordered table-hover table-checkable order-column"   id="sample1">
                    <thead >
                        <tr>
 					        <th>Monthly Total</th>
                        </tr>
                    </thead>
                    <tbody id="8graph">  
                    	                    
                    </tbody>
          </table><!-- <div id="fourthgraph"></div> -->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
			
	</div>
</div>



